/* .vitepress/theme/custom.css */
:root {
  --c-bg: #292524;
  --c-text: #f5f5f4;
  --c-text-light: #a8a29e;
  --c-brand: #ffcf56;
  --c-brand-light: #ffcf56;
  --font-family-base: Karla, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


main {
  font-size: 18px;
}

div.container {
  max-width: 56rem !important;
}

.content {
  padding-left: 1.5rem;
}

.content h1,
.content h2,
.content h3 {
  margin-left: -1.5rem;
}

.custom-block.warning {
  color: #fff;
}

th, td {
  border-color: #57534e;
}

tr:nth-child(2n) {
  background-color: #1c1917;
}

h2 {
  padding-top: 2.25rem;
  border-top: 2px solid #a8a29e88;
}

h3 {
  padding-top: 2rem;
  border-top: 1px solid #a8a29e33;
}

.showdownspace .nav-bar {
  background-image: url(./header-bg.svg);
  border-bottom-color: #393534;
}